<center><h1>GRACIAS!</h1></center>
<%= link_to 'Users', users_path, class: "btn btn-primary"%>
<%= link_to 'Tortas', torta_path, class: "btn btn-primary"%>
<%= link_to 'Inventarios', inventarios_path, class: "btn btn-primary"%>
<%= link_to 'Helados', helados_path, class: "btn btn-primary"%>
